@import url("https://fonts.googleapis.com/css?family=Dosis");
$bg: url("../img/background-img-main.jpg");

/*All colours stored in an array*/
$colors: (
  cardTitle: #ffefc1
);

/*Function uses colours from the 'colors' array*/
@function color($all-colors) {
  @return map-get($colors, $all-colors);
}

body {
  background-image: $bg;
  background-position: center;
  background-size: cover;
  font-family: "Dosis", cursive;
}
.collapse {
  padding-right: 110px;
}

.container-fluid {
  .row {
    .col-sm-12 {
      .mainTitle {
        padding: 20px;
        font-weight: bold;
        line-height: 1.2;
      }
      .innerCol {
        margin-bottom: 30px;
        .card {
          border: 1px solid rgba(0, 0, 0, 0);
          border-width: 10px;
        }
        .card-img-overlay {
          .card-title {
            color: color(cardTitle);
          }
        }
      }
    }
  }
}
