@import url("https://fonts.googleapis.com/css?family=Dosis");
$bg: url("../img/background-img-main.jpg");

/*All colours stored in an array*/
$colors: (
  cardTitle: #ffefc1,
  button: #353d44,
  hoverButton: #0095ff
);

/*Function uses colours from the 'colors' array*/
@function color($all-colors) {
  @return map-get($colors, $all-colors);
}
/*General style rules*/
html,
body {
  background-image: $bg;
  background-position: center;
  background-size: cover;
  font-family: "Dosis", cursive;
  margin: 0;
  padding: 0;
}
.collapse {
  padding-right: 110px;
}

.container-fluid {
  .row {
    .col-sm-12 {
      //index.html
      .mainTitle {
        padding: 20px;
        font-weight: bold;
        line-height: 1.2;
      }
      .innerCol {
        margin-bottom: 30px;
        .card {
          border: 1px solid rgba(0, 0, 0, 0);
          border-width: 10px;
        }
        .card-img-overlay {
          .card-title {
            color: color(cardTitle);
          }
        }
      }
      //contact.html
      .mar {
        margin: 20px;
      }
      form {
        .control-group {
          padding: 8px;
        }
        .form-group {
          .btn {
            width: 100%;
            background-color: color(button);
            border-color: color(button);
            transition-duration: 0.5s;
          }
          .btn:hover {
            background-color: color(hoverButton);
          }
        }
      }
      //register.html
      //popular.html
      .customBorder {
        margin-top: 20px;
        border: 1.5px solid white;
        width: 22%;
        h4 {
          display: inline;
        }
        .fas {
          font-size: 25px;
          color: white;
        }
      }
    }
  }
}
