<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Cookbook</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="index.html">Personal Cookbook</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-5 card bg-dark text-white mx-auto ">
          <img
            src="../static/img/breakfast.jpg"
            class="card-img"
            alt="Breakfast Image"
          />
          <div class="card-img-overlay text-center">
            <h2 class="card-title">Breakfast</h2>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-5 card bg-dark text-white mx-auto">
            <img
              src="../static/img/Lunch.jpg"
              class="card-img"
              alt="Lunch Image"
            />
            <div class="card-img-overlay text-center">
              <h2 class="card-title">Lunch</h2>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-5 card bg-dark text-white mx-auto">
              <img
                src="../static/img/Dinner.jpg"
                class="card-img"
                alt="Dinner Image"
              />
              <div class="card-img-overlay text-center">
                <h2 class="card-title">Dinner</h2>
              </div>
            </div>
          </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
