<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Cookbook</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="index.html">Personal Cookbook</a>
        <button
          class="navbar-toggler navbar-toggler-icon"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        ></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="col-sm-12">
            <h2 class="mainTitle text-center text-white">
              What Meal Are You Having Today?
            </h2>
          </div>
          <div class="col-sm-12 innerCol">
            <img
              src="../static/img/breakfast.jpg"
              class="card-img"
              alt="Breakfast Image"
            />
            <div class="card-img-overlay text-center">
              <h2 class="card-title">Breakfast</h2>
            </div>
          </div>
          <div class="col-sm-12 innerCol">
            <img
              src="../static/img/Lunch.jpg"
              class="card-img"
              alt="Lunch Image"
            />
            <div class="card-img-overlay text-center">
              <h2 class="card-title">Lunch</h2>
            </div>
          </div>
          <div class="col-sm-12 innerCol">
            <img
              src="../static/img/Dinner.jpg"
              class="card-img"
              alt="Dinner Image"
            />
            <div class="card-img-overlay text-center">
              <h2 class="card-title">Dinner</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="col-sm-12">
            <h2 class="mainTitle text-center text-white">
              Fancy A Snack Instead?
            </h2>
          </div>
          <div class="col-sm-12">
            <img
              src="../static/img/snack.jpg"
              class="card-img"
              alt="Breakfast Image"
            />
          </div>
          <div class="col-sm-12">
            <h2 class="mainTitle text-center text-white">
              Our Most Popular Recipes
            </h2>
          </div>
          <div class="col-sm-12">
            <img
              src="../static/img/popular.jpg"
              class="card-img"
              alt="Breakfast Image"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
