{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-10 offset-sm-2">
    <h3 class="text-white py-5">See Our Most Popular Recipes</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 offset-sm-2 innerCol">
    <a href="#">
      <img
        src="../static/img/breakfast.jpg"
        class="img-fluid"
        alt="Breakfast Image"
      />
    </a>
  </div>
  <div class="col-sm-3 innerCol">
    <a href="#">
      <img src="../static/img/lunch.jpg" class="img-fluid" alt="Lunch Image" />
    </a>
  </div>
  <div class="col-sm-3 innerCol">
    <a href="#">
      <img
        src="../static/img/lunch.jpg"
        class="img-fluid"
        alt="Dinner Image"
      />
    </a>
  </div>
</div>

<div class="row">
    <div class="col-sm-10 offset-sm-2">
      <h3 class="text-white py-5">
        Your Favourite Recipes
      </h3>
    </div>
    <div class="col-sm-3 offset-sm-2">
      <a href="#">
        <img
          src="../static/img/snack.jpg"
          class="img-fluid"
          alt="Snacks Image"
        />
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
        <img
          src="../static/img/popular.jpg"
          class="img-fluid"
          alt="Popular Link Image"
        />
      </a>
    </div>
    <div class="col-sm-3">
        <a href="#">
          <img
            src="../static/img/popular.jpg"
            class="img-fluid"
            alt="Popular Link Image"
          />
        </a>
      </div>
  </div>
  {% endblock %}
</div>
