{% extends 'base.html' %} {% block content %}
<div class="row pt-5">
  <div class="col-3 my-2 offset-2">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/toaster.webp"
        alt="Kenwood Toaster"
      />
      <div class="card-body">
        <h3 class="card-title">Kenwood 4 Slot Toaster</h3>
        <h4>€49.99</h4>
        <p class="card-text">
          Part of the Kenwood Scene range of domestic kitchen appliances, the
          TTM480 Toaster is a superb quality 4-slot toaster ideal for home use.
          Adjustable browning control helps you to make toast just how you like
          it, whilst the clever bread centring system ensures bread is cooked
          consistently both sides. Brushed stainless steel construction means
          the toaster is highly stylish and easy to clean.
        </p>
        <a
          href="https://www.nisbets.ie/kenwood-scene-4-slot-toaster/cs399"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
  <div class="col-3 my-2 mx-auto">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/tongs.webp"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Vogue Heavy Duty Locking Tongs</h3>
        <h4>€5.99</h4>
        <p class="card-text">
          Safe for use with non-stick cookware and heat resistant to 310°C,
          these Vogue tongs are suitable for heavy duty use. For convenient
          storage and to save space among other hanging utensils they also
          feature a locking mechanism. Thumb rests and non-slip handles also
          make the tongs feel comfortable and provide a strong grip, giving
          confidence when handling food. The tongs are easy to clean and
          dishwasher-safe.
        </p>
        <a
          href="https://www.nisbets.ie/vogue-heavy-duty-locking-tongs-230mm/cs770"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
  <div class="col-3 my-2">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/coffee.webp"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Olympia Bamboo Reusable Coffee Cup 12oz</h3>
        <h4>€2.79</h4>
        <p class="card-text">
          Save the planet a cup at a time with the Olympia Bamboo Reusable Cup.
          Made from hardwearing, sustainably sourced bamboo fibre, it's
          environmentally friendly yet supremely practical, able to be popped in
          the dishwasher after use for quick and easy cleaning.
        </p>
        <a
          href="https://www.nisbets.ie/olympia-bamboo-reusable-cup-340ml/cy005"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 my-2 offset-2">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/apron.webp"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Whites Bib Apron Blue And White Check</h3>
        <h4>€9.99</h4>
        <p class="card-text">
          Hardwearing blue and white checked polycotton bib apron with sewn-in
          ties, suitable for front and back of house.
        </p>
        <a
          href="https://www.nisbets.ie/whites-bib-apron-blue-and-white-check/a554"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
  <div class="col-3 my-2 mx-auto">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/whisk.webp"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Vogue Light Whisk 20"</h3>
        <h4>€9.49</h4>
        <p class="card-text">
          Improve your preparation times with the Vogue 20" light whisk.
          Boasting 12 sturdy light wires, this kitchen essential offers
          effortless whipping and beating of all manner of ingredients, helping
          you produce perfectly prepared mixtures in no time at all. This whisk
          also features a seamless handle, making it more hygienic and
          comfortable to hold, helping you prepare large quantities of
          ingredients with ease.
        </p>
        <a
          href="https://www.nisbets.ie/vogue-light-whisk-20in/m969"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
  <div class="col-3 my-2">
    <div class="card h-100">
      <img
        class="card-img-top img-fluid"
        src="static/img/products/chart.webp"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Hygiplas Colour Coded Wall Chart</h3>
        <h4>€3.49</h4>
        <p class="card-text">
          Cross-contamination is a major issue within any kitchen environment;
          with it leading to harmful bacteria being transferred between
          different foods. It can be difficult to track whether items have been
          decontaminated fully after use, however the coloured-coded chart by
          Hygiplas helps to reduce the risk of illness or injury.
        </p>
        <a
          href="https://www.nisbets.ie/hygiplas-colour-coded-wall-chart/j249"
          target="_blank"
          class="btn bg-dark text-white"
          role="button"
          >Buy Now!</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
