{% extends 'base.html' %}{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-6 mx-auto">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-white mar">Sign Up Here!</h3>
      </div>
      <div class="panel-body">
        <form method="POST" action="/register" role="form">
          <div class="control-group">
            <div class="form-group">
              <input
                type="text"
                name="username"
                id="username"
                class="form-control input-sm"
                placeholder="User Name"
              />
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control input-sm"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control input-sm"
                placeholder="Password"
              />
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              value="register"
              class="btn text-white"
              id="sendMessageButton"
            >
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
